


*{
	margin:0;
}
body, html {
	height: 100%;
}

.edit_sidemenu{
	background-color: lightgray;
	width:200px;
	position: fixed;
	height: 100%;
	overflow-y: auto;
	.logo{
		height: 150px;
	}

	.sidemenu_1{
		width: 100%;
		overflow: hidden;
		padding: 0;
		/*position: relative;*/
		min-height: calc(100% - 150px);
		background-color: red;
		.sidemenu_item{
			width: inherit;
			background-color: white;
			.submenu_content{
				position: absolute;
				left: 200px;
				top: 0;
				width: inherit;
				background-color: inherit;
				min-height: 100%;
				&.side_active{
					position: fixed;
				    background-color: yellow;
				    overflow-y: auto;
					left:0;
					width:200px;
					height: 100%;
				}
				.header{
					overflow: hidden;
					.back{
						float: left;
					}
					.forward{
						float: right;
					}
				}
			}
		}		
	}

}

.edit_content{
	width: calc(100% - 200px);
	margin-left: 200px;
	min-height: 100%;
	background-color: white;
	position: relative;
	
	> .header{
		background-color:orange;
		.menu{
			float:right;
			> li {
				display:inline-block;
			}

		}
	}

	> .content-editable{
		position:relative;
		&:hover{
		box-shadow: inset 0 0 0 2px rgba(1, 1, 1, 0.5);

			.action .delete {
				opacity:1;
			}
		}
		&.delete{
			display:none;
		}
		>.action{

			.delete{
				pointer-events: visible;
				position:absolute;
				right:4px;
				top:0;
				opacity:0;;
			}
		}
	}

}
